<h4>Try finding Dr Who's Tardis</h4>
{{street-view
  lat=lat
  lng=lng 
  height=height
  width=width
  zoom=zoom
  pov=pov
  panoChanged=panoChanged
  linksChanged=linksChanged
  positionChanged=positionChanged
  povChanged=povChanged}}
